* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.bg-wrapper,
section {
  width: 100%;
}

main {
  height: auto;
  background-color: #ffe8ba;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

section {
  background-color: #e6d8f9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  padding: 2rem 2rem;
}

header nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 0.6rem;
  font-size: 1rem;
}

header div ul {
  list-style: none;
  display: flex;
  gap: 0.2rem;
  font-size: 1rem;
}

header div ul li a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.5px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.5px;
  margin: 0 0.6rem;
}

div title {
  display: flex;
  font-size: calc(4rem + 1.5vw);
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  color: black;
  font-weight: 400;
  line-height: 1.2;
}

section h3 {
  font-size: calc(3rem + 1.5vw);
  font-weight: 400;
}

section h3 a {
  color: black;
  text-decoration: none;
  position: relative;
  font-weight: 400;
}

section h3 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px; /* Adjust this value to move the underline lower */
  width: 100%;
  height: 1px; /* Thickness of the underline */
  background-color: currentColor; /* Uses the current text color */
}

section h4 {
  font-size: 1.2rem;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex: 1;
}

.header-bar .cart-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  flex: 1;
}

.block {
  display: flex;
  border-top: 1px solid black;
  margin: 0 2rem;
}

.dog-img {
  padding: 2rem 2rem;
  position: relative;
  width: 100%;
}
.dog-img img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  border-radius: 60px;
}

.dog-img2 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 0rem 10rem;
  margin-left: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
  justify-items: center;
  position: relative;
}

.dog-img2 .product-info {
  position: relative;
  text-align: center;
}

.dog-img2 .dog-image {
  width: 90%;
  max-height: 1000px;
  object-fit: cover;
}

.dog-img2 .product {
  width: 80%;
  max-width: 500px;
  object-fit: cover;
  margin-bottom: 3rem;
  scale: 1.2;
}

.dog-collar {
  text-decoration: none;
  color: black;
}

.more-products {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.more-products div {
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

.item-color {
  text-decoration: none;
  color: black;
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

.shop-button {
  display: inline-block;
  padding: 8px 20px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.shop-button:hover {
  background-color: black;
  color: #e6d8f9;
}

.dog-img2 .hover-button {
  width: 120px;
  height: 50px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

.dog-img2 .product-info:hover .hover-button {
  opacity: 1;
}

.dog-img2 .product-info img {
  transition: transform 0.3s ease-in-out;
}

.content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main-text {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-text .left-text {
  max-width: 40%;
  word-wrap: break-word;
  text-align: left;
}

.main-text .right-text {
  max-width: 35%;
  word-wrap: break-word;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 1rem 0;
}

.main-text .left-text h1 {
  font-size: calc(2rem + 2vw);
  line-height: 1.2;
  font-weight: 400;
}

.main-text .right-text p {
  margin-bottom: 1rem;
  font-weight: 400;
}

.main-text .right-text a {
  color: #000;
  font-weight: 400;
  font-size: 0.85;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
.about h1 {
  font-size: calc(2.3rem + 1.5vw);
  font-weight: 400;
  letter-spacing: 1.5px;
  scale: 1.2;
}

.about h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.about p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.about img {
  width: 100%;
  height: auto;
  max-width: 250px;
  object-fit: contain;
}

.img-background {
  width: 100%;
  height: auto;
  min-height: 500px;
  background-image: url("https://img.freepik.com/free-vector/yellow-white-watercolor-background_91008-123.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 3rem;
  position: relative;
}

.box-size {
  width: 100%;
  max-width: 1000px;
  padding: 0 5rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.round-button {
  width: 60px;
  height: 60px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.round-button:hover {
  background-color: #020202;
}

.arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
}

.left-arrow {
  transform: rotate(135deg); /* Create left arrow */
}

.right-arrow {
  transform: rotate(-45deg); /* Create right arrow */
}

.final-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe8ba;
  padding-top: 3rem;
}

.section-img2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 1rem;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section-img2 img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0;
  border-radius: 20%;
}

.burger-btn-wrapper {
  width: 2rem;
  display: none;
}

.burger-btn-wrapper img {
  width: 100%;
}

.section-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  scale: 1;
}

.section-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0;
}

.footer {
  display: flex;
  background-color: #ffe8ba;
  color: black;
  padding-top: 4rem;
  padding-bottom: 7rem;
  padding-right: 5rem;
  padding-left: 5rem;
  width: 100%;
  box-sizing: border-box;
}

.footer-left {
  margin-right: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  flex: 1;
}

.footer-brand h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.footer-social {
  padding-bottom: 2rem;
}

.footer-social a {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.footer-made-with {
  font-size: 0.8rem;
}

.footer-made-with a {
  color: black;
  text-decoration: underline;
}

.footer-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
}

.footer-center ul {
  list-style: none;
  text-decoration: underline;
}

.footer-center ul li {
  margin-bottom: -0.3rem;
}

.footer-center ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.footer-right {
  max-width: 450px;
  margin-right: 10rem;
}

.footer-right p {
  margin-bottom: 2rem;
  font-size: 1rem;
  max-width: 400px;
}

.newsletter-form {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.newsletter-form input[type="email"] {
  padding: 1rem 2rem;
  border: 1px solid #e7e7e7;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: auto;
  color: black;
}

.newsletter-form button {
  padding: 1rem 2rem;
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: black;
  width: auto;
  max-width: 290px;
  border-radius: 10px;
  transition: 0.2s ease;
  font-weight: 500;
}

.newsletter-form input[type="email"]::placeholder {
  color: rgb(197, 196, 196);
}

.newsletter-form button:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 768px) {
  .about img {
    max-width: 150px;
  }

  .burger-btn-wrapper {
    display: block;
  }

  header nav ul {
    display: none;
  }

  .login {
    display: none;
  }

  .product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
  }

  .product-wrapper img {
    width: 450px;
    max-width: 450px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    object-fit: contain;
  }

  .section-img {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1440px) {
  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer-right {
    margin-right: 0rem;
  }
}
